  @import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');


:root{
    --mainColor: #ff0000ff;
    --hoverColor: #f22020;
    --backgroundColor: #f1f8fc;
    --darkOne: #312f3a;
    --darkTwo: #45424b;
    --lightOne: #919191;
    --lightTwo: #aaa;
}

  *,
  *::before, *::after{
    padding: 0;
    margin: 0;
    box-sizing:0;
}

body{
    font-family: 'Rubik Bubbles', sans-serif;
}

img{
    width:100%;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
}

.big-wrapper{
    padding: 1.7rem;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    background-color: var(--backgroundColor);
}

.container{
    background-color: green;
    max-width: 81rem;
    width: 100%;
    margin: 0 auto;
    padding: 0 3rem;
    z-index: 10;
    position: relative;
}

header .container{
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.logo img{
    width: 40px;
    align-items: center;
    cursor: pointer;
}


